$phones-mini: 320px;
$phones: 400px;
$phones-big: 565px;
$tablets: 767px;
$tablets-big: 991px;
$desktop: 1199px;
$full-hd: 1438px;

$main-color: #131313;
$main-bg: #EEEBE5;
$grey-bg: #202020;
$grey: #9B9B9B;
$grey-light: #EAEAEA;
$sidebar-menu-title: #878787;

$note: #F7F6F3;
$upload: #E3EFFF;
$done: #CEF9C6;

$yellow: #FFC200;
$yellow-light: #FFF8DD;
$black: #000000;
$white: #ffffff;

$main-font: "Helvetica", sans-serif;
